<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">2Do</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <form id="form-table_atividade_historico">
                        <span class="card-title">Histórico de atividades</span>
                        <p>Historico de atividades realizadas</p><br>
                        <table id="table_atividade_historico" name="form-table_atividade_historico" class="display responsive-table datatable-example">
                            <thead>
                                <tr>
                                    <th>Nome Atividade</th>
                                    <th>descrição</th>
                                    <th>Data</th>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Nome Atividade</th>
                                  <th>descrição</th>
                                  <th>Data</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <!--Conteudo da tabela-->
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../CONTROLLERS/listaAtividadeHistorico.js"></script>
<script src="../CONTROLLERS/default.js"></script>
