<script src="../assets/plugins/materialize/js/materialize.min.js"></script>
<script src="../assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="../assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="../assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/google-code-prettify/prettify.js"></script>
<script src="../assets/js/pages/dialogs.js"></script>
<script src="../assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../assets/js/alpha.js"></script>
<script src="../assets/js/pages/table-data.js"></script>
<script src="../assets/js/pages/ui-modals.js"></script>
<script src="../assets/js/pages/form_elements.js"></script>
<script src="../assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="../assets/js/pages/miscellaneous-sweetalert.js"></script>

<script src="../assets/plugins/vertical-timeline/js/main.js"></script>
